header {
  width: 80%;
  height: max-content;
  margin-top: 20px;
}

header #alt-nav {
  display: none;
  --hamburger-width: 40px;
}

header #alt-nav::after {
  content: '';
  width: var(--hamburger-width);
}

header .nav-hamburger {
  width: var(--hamburger-width);
  height: 30px;
  border-radius: 30px;

  justify-self: left;
  background-color: #1943EF;
  color: white;
  border-radius: 30px;
  text-align: center;
  border: 1px solid #1943EF;
}

header #nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: 0;
  margin: 0;
}

header li {
  display: inline;
}

header .nav-logo-link {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-align: center;
}

header .nav-btn {
  margin-left: 20px;
}

header .nav-btn a:not([class="nav-btn-try-for-free"]) {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #73738D;
}

header .nav-btn-group {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

header .nav-btn-group * {
  margin-left: 25%;
}

header .nav-btn-login {
  margin-left: 6%;
  margin-right: 25%;
}

header .nav-btn-try-for-free {
  width: 120px;
  margin-left: auto;
  margin-right: 0;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #1943EF;
  box-sizing: border-box;
  border-radius: 35px;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: #1943EF;
}

header .nav-btn-try-for-free:hover {
  background-color: #1943EF;
  color: #FFFFFF;
  animation: 1s fadein;
}

@media screen and (min-width: 1000px) {
  header #nav {
    display: flex;
  }
}

@media screen and (max-width: 1000px) {
  header #nav {
    display: none;
    flex-direction: column;
    margin: 0;
  }

  header #alt-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header .nav-logo {
    display: none;
  }

  header #nav * {
    margin-left: 0;
    margin-right: 0;
  }

  header li {
    display: block;
    margin-top: 10px;
    animation: 1s fadein;
  }

  header .nav-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0;
  }

  header li.nav-btn-group {
    margin-top: 0;
  }
}