#info-section a {
  color: aquamarine;
}

#info-section {
  width: 80%;
  height: max-content;
  margin-bottom: 70px;
  padding-top: 5%;

  display: flex;
  flex-direction: column;
}

#info-section .info-subsection {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info-subsection .info-profile-subsection {
  justify-content: left;
}

#info-section .info-comments-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: center;
}

#info-section .info-comment {
  width: 100%;
  height: 65px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  color: #222222;

  background: #FFFFFF;
  box-shadow: 0px 12px 55px #F2F5FA;
  border-radius: 16px;
}

#info-section .info-profile-pic {
  margin-right: 6px;
}

#info-section .info-text-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

#info-section .info-text-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #73738D;
}

#info-section .info-checked-list-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#info-section .info-checked-list-column {
  display: flex;
  flex-direction: column;
  align-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: #73738D;

  list-style-image: url("../res/tick.svg");
  padding: 0;
  padding-left: 20px;
}

#info-section .info-checked-list-column:not(:first-child) {
  margin-left: 20px;
}

#info-section li:not(:last-child) { 
  margin-bottom: 10px;  
}

#info-section .info-sync-img {
  width: 50px;
}

#info-section .info-sync-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

#info-section .info-sync-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #73738D;
}

#info-section .info-card {
  margin-top: 80px;
  padding: 20px;

  background: #FFFFFF;
  box-shadow: 0px 13px 55px #F2F5FA;
  border-radius: 20px;
}

#info-section .info-proile-heading {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  align-items: center;

  margin-bottom: 20px;
}

#info-heading .info-profile-basic-info {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-content: center;
  align-items: center;
}

#info-section .info-profile-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  margin: 0px;
}

#info-section .info-profile-position {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  color: rgba(34, 34, 34, 0.8);
  margin: 0px;
}

#info-section .info-profile-info-point {
  display: flex;
  flex-direction: row;
 
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;

  color: rgba(34, 34, 34, 0.8);
}

#info-section .info-profile-info-point p {
  margin-left: 10px;
}

#info-section .info-headings {
  width: 350px;
}

#info-section .info-heading-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#info-section .info-card-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  padding: 0;
  margin: 0;
}

#info-section .info-card-heading2 {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: rgba(34, 34, 34, 0.8);

  padding: 0;
  margin: 0;
}

#info-section .info-card-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 180%;
  color: rgba(115, 115, 141, 0.8);
}

#info-section .info-right {
  margin-top: 20px;
}

#info-section .info-blob-img {
  width: 50px;
}

#info-section .info-right-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #222222;
}

#info-section .info-right-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #73738D;
}
