@import "./fonts.css";
@import "./header.css";
@import "./hero.css";
@import "./info.css";
@import "./banner.css";
@import "./footer.css";

a {
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Gilroy;

  animation: bg-pulse 1s;
  animation-delay: 0s;
}

@keyframes bg-pulse {
  0% {
    background-color: #e6f0f9;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }    
}

@keyframes fadeout {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }    
}