@import "./fonts.css";
@import "./header.css";
@import "./hero.css";
@import "./info.css";
@import "./banner.css";
@import "./footer.css";

a {
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Gilroy;
}
